# Xcode
#
# Exclui arquivos de configuração de usuário e de esquema
# para evitar conflitos de merge.
.DS_Store
*.pbxuser
*.xcworkspace/
!*.xcworkspace/xcshareddata/
*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/xcshareddata/SchemeActions/
!*.xcodeproj/xcshareddata/IDETemplateMacros.plist
xcuserdata/

# Swift Package Manager
# Ignora arquivos de dependência e de build do Swift Package Manager
.build/
.swiftpm/

# Diretório de build do Xcode
DerivedData/

# Arquivos compilados
*.o
*.out
*.a
*.lo
*.li

# Arquivos de depuração e de dSYM
*.dSYM/
*.o
*.swp

# Arquivos gerados por scripts
*.h
*.m
*.mm
*.c
*.swift
*.s

# Outros
.idea/
.vscode/
